$verdigris: #4D5234;

.komande1,
.komande2 {
  width: 135px;
}

.prozorce {
  background-color: rgba(0,0,0, 0.8);
}

progress {
  background: $verdigris;
  color: $verdigris;
}
progress::-webkit-progress-bar {
  background: $verdigris;
  color: $verdigris;
}
progress::-webkit-progress-value {
  background: $verdigris;
  color: $verdigris;
}
progress::-moz-progress-bar {
  background: $verdigris;
  color: $verdigris;
}
