$verdigris: #4D5234;

body {
  font-size: 100%;
  background-color: black;
}

progress {
  background: $verdigris;
  color: $verdigris;
}
progress::-webkit-progress-bar {
  background: $verdigris;
  color: $verdigris;
}
progress::-webkit-progress-value {
  background: $verdigris;
  color: $verdigris;
}
progress::-moz-progress-bar {
  background: $verdigris;
  color: $verdigris;
}

.komande1,
.komande2 {
  width: 125px;
}

.prozorce {
  background-color: rgba(0,0,0, 0.8);
}

.ukljuci-igraca {
  display: inline-block;
  margin-top: 10px;
}
