$verdigris: #4D5234;

body {
  font-size: 100%;
  background-color: black;
}

progress {
  background: $verdigris;
  color: $verdigris;
}
progress::-webkit-progress-bar {
  background: $verdigris;
  color: $verdigris;
}
progress::-webkit-progress-value {
  background: $verdigris;
  color: $verdigris;
}
progress::-moz-progress-bar {
  background: $verdigris;
  color: $verdigris;
}

.komande1,
.komande2 {
  width: 140px;
}

.prozorce {
  background-color: rgba(0,0,0, 0.8);
}

#drugi-igrac {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.dva-igraca {

}

button.bg-avocado:hover {
  background-color: #4D5234;
}
